<!-- signup.vtl -->
<h1>Gamer Sign Up</h1>
<p>Add gamer:</p>
<form action="/gamers/new" method="post">
  <label for="name">Name:</label>
  <input id="name" name="name" type="text">
  <button type="submit" class="btn btn-success">Add Gamer</button>
</form>
<!-- signup.vtl -->
